<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
  <div id="container">
  <h1>Welcome to Codebreaker!</h1>
    <p>What is your name?<p>
    <form method="post" action="/start_game">
      <input name="name" type="text">
      <input type="submit" value="Enter!">
    </form>
  </div>
</body>
</html>