<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
  <div id="container">
  <h1>Congradulations, you win!</h1>
    <p>Whant to play again?<p>
    <form method="post" action="/start_game">
      <input type="submit" value="Play!">
    </form>
  </div>
</body>